:root {
  --bgmain: #23272a;
  --bgmainlighter: #2C2F33;
  --bgsecondary: #99aab5;
  --bglast: #7289da;
  --fontmain: #ffffff;
  --fontsecondary: #99aab5;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.authbox {
  background: #2C2F33;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
}

.auth-bottom-text, .auth-bottom-text a {
  font-size: 14px;
  color: var(--fontsecondary);
}

.main {
  background-color: var(--bgmain);
  color: var(--fontmain);
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.welcome-chat-screen {
  min-height: 90vh;
}

.chat-screen {
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-item-pict {
  display: inline-block;
  background: var(--bglast);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.chat-item-text {
  display: inline-block;
  background: var(--bgsecondary);
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
}

.chat-list-box {
  border-right: 2px solid var(--fontsecondary);
  max-height: 90vh;
  overflow-y: auto;
}

.chat-list-item {
  border-radius: 10px;
  border-bottom: 1px solid var(--bgmainlighter);
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.chat-list-item.active {
  background: var(--bgmainlighter);
}

.community-box {
  background: var(--bgmainlighter);
  padding: 10px;
  border-radius: 10px;
}

.person-item {
  border-radius: 10px;
  border: 2px solid var(--bgmain);
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.person-item .mail {
  font-size: 12px;
  color: var(--fontsecondary);
}